<h4>Locations</h4>
<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Location</th>
    <th>Job Status</th>
    <th>Job Message</th>
    <th>Job Updated</th>
    <th>Job Logs</th>
  </tr>
  </thead>
  <tbody>
  <% @clients_integration_setting.locations_integration_settings.each do |locations_integration_settings| %>
      <tr>
        <td>
          <a href="<%= edit_locations_integration_setting_path(locations_integration_settings.id) %>">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </td>
        <td>
          <%= locations_integration_settings.location.name %>
        </td>
        <td>
          <%= locations_integration_settings.current_job_state %>
        </td>
        <td>
          <%= locations_integration_settings.current_job_message %>
        </td>
        <td>
          <%= locations_integration_settings.current_job_updated_at %>
        </td>
        <td>
          <%= link_to('Logs', locations_integration_settings.current_job_logs_url) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to('Add/Remove Locations', edit_clients_integration_setting_path(@clients_integration_setting, locations: true), class: 'btn btn-default') %>