<fieldset id="apartments-fields" <% unless @client.vertical == 'Apartments' %>class="hidden"<% end %>>
  <hr />
  <h3>
    Features
    <button class="uncheck-all btn btn-link">Uncheck All</button>
  </h3>
  <div class="has-checkboxes row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= location.label :specific_demographic, 'Is your location speciafically designed for a certain demographic?' %>
        <%= location.select :specific_demographic, Location::DEMOGRAPHIC_OPTIONS, {include_blank: true}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= location.label :primary_offering, 'What the main offering of this location?' %>
        <%= location.select :primary_offering, Location::PRIMARY_OFFERINGS, {include_blank: true}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= location.label :primary_offering_other, 'If Other, what is the primary offering?' %>
        <%= location.text_field :primary_offering, class: 'form-control' %>
      </div>
      <h5>What, if any, are the secondary offerings?</h5>
      <div class="form-group checkbox">
        <%= location.label :secondary_apartments do %>
          <%= location.check_box :secondary_apartments %>
          Apartments
        <% end %>
      </div>
      <div class="form-group checkbox">
        <%= location.label :secondary_townhomes do %>
          <%= location.check_box :secondary_townhomes %>
          Townhomes
        <% end %>
      </div>
      <div class="form-group checkbox">
        <%= location.label :secondary_condo do %>
          <%= location.check_box :secondary_condo %>
          Condos
        <% end %>
      </div>
      <div class="form-group">
        <%= location.label :secondary_other, 'List any other secondary offerings' %>
        <%= location.text_field :secondary_other, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= location.label :floor_plans, 'Please describe your floor plans' %>
        <%= location.text_field :floor_plans, class: 'form-control', placeholder: 'Ex. 1, 2, & 3 Bedroom, Studio, Etc.' %>
      </div>

      <div class="form-group">
        <%= location.label :nearby_employers, 'Please list any nearby large employers' %>
        <%= location.text_field :nearby_employers, class: 'form-control', placeholder: 'Ex. military base' %>
      </div>

      <div class="form-group">
        <%= location.label :nearby_schools, 'Please list any nearby schools or colleges' %>
        <%= location.text_field :nearby_schools, class: 'form-control' %>
      </div>
    </div> <!-- end .col-sm-6 -->

    <div class="col-sm-6">
      <h5>What are two landmarks near your location?</h5>
      <div class="form-group">
        <%= location.label :landmark_1_type, 'First landmark near your location' %>
        <%= location.select :landmark_1_type, Location::LANDMARK_TYPES, {include_blank: true}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= location.label :landmark_1_name, 'Name of first landmark' %>
        <%= location.text_field :landmark_1_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= location.label :landmark_2_type, 'Second landmark near your location' %>
        <%= location.select :landmark_2_type, Location::LANDMARK_TYPES, {include_blank: true}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= location.label :landmark_2_name, 'Name of second landmark' %>
        <%= location.text_field :landmark_2_name, class: 'form-control' %>
      </div>


      <h5>Choose three terms that best describe your property</h5>
      <div class="form-group">
        <%= location.label :property_feature_1, 'First property feature' %>
        <%= location.select :property_feature_1, Location::PROPERTY_FEATURES, {include_blank: true}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= location.label :property_feature_2, 'Second property feature' %>
        <%= location.select :property_feature_2, Location::PROPERTY_FEATURES, {include_blank: true}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= location.label :property_feature_3, 'Third property feature' %>
        <%= location.select :property_feature_3, Location::PROPERTY_FEATURES, {include_blank: true}, class: 'form-control' %>
      </div>


      <h5>What is the architectural style of the building, if any?</h5>
      <div class="form-group checkbox">
        <%= location.label :modern_structure do %>
          <%= location.check_box :modern_structure %>
          Modern
        <% end %>
      </div>
      <div class="form-group checkbox">
        <%= location.label :townhome_structure do %>
          <%= location.check_box :townhome_structure %>
          Townhome
        <% end %>
      </div>
      <div class="form-group checkbox">
        <%= location.label :garden_structure do %>
          <%= location.check_box :garden_structure %>
          Garden Style
        <% end %>
      </div>
      <div class="form-group checkbox">
        <%= location.label :highrise_structure do %>
          <%= location.check_box :highrise_structure %>
          High Rise
        <% end %>
      </div>

    </div> <!-- end .col-sm-6 -->
  </div> <!-- end .row -->

  <hr />
  <h3>
    Ameneties
    <button class="check-all btn btn-link">Check All</button>
    <button class="uncheck-all btn btn-link">Uncheck All</button>
  </h3>
  <div class="has-checkboxes row">
    <div class="col-sm-6">
      <h5>Apartment Amenities</h5>
      <div class="row">
        <div class="col-sm-6">

          <div class="form-group">
            <%= location.label :apartment_amenity_1, 'Primary Apartment Amenity' %>
            <%= location.text_field :apartment_amenity_1, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= location.label :apartment_amenity_2, 'Secondary Apartment Amenity' %>
            <%= location.text_field :apartment_amenity_2, class: 'form-control' %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :accessibility do %>
              <%= location.check_box :accessibility %>
              Accessibility (Elevators, Handicapped Accessible Units)
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :air_conditioned do %>
              <%= location.check_box :air_conditioned %>
              Air Conditioning
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :cable_included do %>
              <%= location.check_box :cable_included %>
              Cable Included
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :ceiling_fans do %>
              <%= location.check_box :ceiling_fans %>
              Ceiling Fans
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :custom_cabinetry do %>
              <%= location.check_box :custom_cabinetry %>
              Custom Cabinetry
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :dishwasher do %>
              <%= location.check_box :dishwasher %>
              Dishwasher
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :energy_efficient do %>
              <%= location.check_box :energy_efficient %>
              Energy Efficient Appliances
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :fireplace do %>
              <%= location.check_box :fireplace %>
              Fireplace
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :granite_counters do %>
              <%= location.check_box :granite_counters %>
              Granite Counters
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :hardwood_floors do %>
              <%= location.check_box :hardwood_floors %>
              Hardwood Floors
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :high_ceilings do %>
              <%= location.check_box :high_ceilings %>
              High/Vaulted/Cathedral Ceilings
            <% end %>
          </div>

        </div> <!-- end .col-sm-6 -->

        <div class="col-sm-6">

          <div class="form-group checkbox">
            <%= location.label :private_balcony do %>
              <%= location.check_box :private_balcony %>
              Private Balcony
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :private_patio do %>
              <%= location.check_box :private_patio %>
              Private Patio
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :refrigerator do %>
              <%= location.check_box :refrigerator %>
              Refrigerator
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :stainless_appliances do %>
              <%= location.check_box :stainless_appliances %>
              Stainless Steel Appliances
            <% end %>
          </div>

          <div class="form-group checkbox">
            <%= location.label :smoke_free do %>
              <%= location.check_box :smoke_free %>
              Smoke Free
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :walkin_closet do %>
              <%= location.check_box :walkin_closet %>
              Walk-in Closets
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :washer_dryer do %>
              <%= location.check_box :washer_dryer %>
              Washer/Dryer Hookup
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :has_view do %>
              <%= location.check_box :has_view %>
              Has a View
            <% end %>
          </div>
          <div class="form-group">
            <%= location.label :style_design, 'What is the style/design of the building?' %>
            <%= location.select :style_design, Location::STYLE_DESIGNS, {include_blank: true}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= location.label :style_cost, 'How would you describe the cost of living here?' %>
            <%= location.select :style_cost, Location::STYLE_COSTS, {include_blank: true}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= location.label :other_amenities %>
            <%= location.text_field :other_amenities, class: 'form-control' %>
          </div>

        </div> <!-- end .col-sm-6 -->
      </div> <!-- end .row -->
    </div> <!-- end outer .col-sm-6 -->

    <div class="col-sm-6">
      <h5>Community Amenities</h5>
      <div class="row">
        <div class="col-sm-6">

          <div class="form-group">
            <%= location.label :community_amenity_1, 'Primary Community Amenity' %>
            <%= location.text_field :community_amenity_1, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= location.label :community_amenity_2, 'Secondary Community Amenity' %>
            <%= location.text_field :community_amenity_2, class: 'form-control' %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :carport_parking do %>
              <%= location.check_box :carport_parking %>
              Carport Parking
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :club_house do %>
              <%= location.check_box :club_house %>
              Club House
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :dog_park do %>
              <%= location.check_box :dog_park %>
              Close to Dog Park
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :corporate_suites do %>
              <%= location.check_box :corporate_suites %>
              Corporate Suites Available
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :family_friendly do %>
              <%= location.check_box :family_friendly %>
              Family Friendly
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :fitness_center do %>
              <%= location.check_box :fitness_center %>
              Fitness Center
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :furnished_apartments do %>
              <%= location.check_box :furnished_apartments %>
              Furnished Apartments Available
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :garages do %>
              <%= location.check_box :garages %>
              Garages Available
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :gated_entrance do %>
              <%= location.check_box :gated_entrance %>
              Gated Electronic Entrance
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :laundry_facilities do %>
              <%= location.check_box :laundry_facilities %>
              Laundry Facilities on Site
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :online_rental_payments do %>
              <%= location.check_box :online_rental_payments %>
              Online Rental Payments
            <% end %>
          </div>

        </div> <!-- end .col-sm-6 -->

        <div class="col-sm-6">

          <div class="form-group checkbox">
            <%= location.label :onsite_management do %>
              <%= location.check_box :onsite_management %>
              On-Site Management
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :close_park do %>
              <%= location.check_box :close_park %>
              Close to Park
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :pet_friendly do %>
              <%= location.check_box :pet_friendly %>
              Pet friendly
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :cats_allowed do %>
              <%= location.check_box :cats_allowed %>
              Cat friendly
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :dogs_allowed do %>
              <%= location.check_box :dogs_allowed %>
              Dog friendly
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :playground do %>
              <%= location.check_box :playground %>
              Playground
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :recycling_center do %>
              <%= location.check_box :recycling_center %>
              Recycling Center
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :swimming_pool do %>
              <%= location.check_box :swimming_pool %>
              Swimming Pool
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :hot_tub do %>
              <%= location.check_box :hot_tub %>
              Spa/Hot Tub
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :storage_available do %>
              <%= location.check_box :storage_available %>
              Storage Available
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :tennis_court do %>
              <%= location.check_box :tennis_court %>
              Tennis Court
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :wifi_available do %>
              <%= location.check_box :wifi_available %>
              WiFi Available
            <% end %>
          </div>
          <div class="form-group checkbox">
            <%= location.label :business_center do %>
              <%= location.check_box :business_center %>
              Business Center
            <% end %>
          </div>
          <div class="form-group">
            <%= location.label :other_community_amenities %>
            <%= location.text_field :other_community_amenities, class: 'form-control' %>
          </div>
        </div> <!-- end .col-sm-6 -->
      </div> <!-- end .row -->
    </div> <!-- end outer .col-sm-6 -->

  </div> <!-- end outer .row -->

</fieldset>
