<div class="h-card">
  <h2>
    <%= link_to client.name, client_url(client), class: "p-name u-uid u-url" %>
    <small class="p-g5-vertical"><%= client.vertical %></small> |
    <small class="u-g5-domain"><%= client.domain %></small> |
    <small class="p-g5-domain-type"><%= client.domain_type %></small>
    <small class="p-g5-urn"><%= client.urn %></small>
  </h2>

  <p class="p-adr h-adr">
    <span class="p-street-address">
      <%= client.street_address_1 %>
      <% if client.street_address_2 %><%= client.street_address_2 %><% end %>
    </span>
    <span>
      <span class="p-locality"><%= client.city %></span>
      <span class="p-region"><%= client.state %></span>
      <span class="p-postal-code"><%= client.postal_code %></span>
    </span>
    <span class="p-tel p-fax"><%= client.fax %></span>
    <span class="u-email"><%= client.email %></span>
  </p>

  <h4>CMS</h4>
  <p><%= link_to client.cms_url, client.cms_url, class: "u-url" %></p>

  <div>
    <h4>Locations</h4>
    <ul class="list-unstyled">
      <% client.locations.each do |location| %>
        <li class="p-org h-card">
          <%= render location, client: client %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
