<div class="h-card">
  <h2>
    <%= link_to client.name, client_url(client), class: "p-name u-uid u-url" %>
    <small class="p-g5-vertical"><%= client.vertical %></small> |
    <small class="p-g5-type"><%= client.domain_type %></small>
  </h2>
  <p class="p-adr h-adr">
    <span class="p-street-address">
      <%= client.street_address_1 %>
      <% if client.street_address_2 %><%= client.street_address_2 %><% end %>
    </span>
    <span>
      <span class="p-locality"><%= client.city %></span>
      <span class="p-region"><%= client.state %></span>
      <span class="p-postal-code"><%= client.postal_code %></span>
    </span>
    <span class="p-tel p-fax"><%= client.fax %></span>
    <span class="u-email"><%= client.email %></span>
  </p>
  <div>
    <h4>Locations</h4>
    <ul class="list-unstyled">
      <% client.locations.each do |location| %>
        <li class="p-org h-card">
          <%= link_to location.name, client_location_url(client, location), class: "p-name u-uid u-url" %>
          <%= link_to location.domain, location.domain, class: "u-url u-g5-domain" %>
          <p class="p-adr h-adr">
            <span class="p-street-address">
              <%= location.street_address_1 %>
              <% if location.street_address_2 %><%= location.street_address_2 %><% end %>
            </span>
            <span>
              <span class="p-locality"><%= location.city %></span>
              <span class="p-region"><%= location.state %></span>
              <span class="p-postal-code"><%= location.postal_code %></span>
            </span>
            <span class="p-tel"><%= location.phone_number %></span>
            <span class="p-tel p-fax"><%= location.fax %></span>
            <span class="u-email"><%= location.email %></span>
          </p>
        </li>
        <p>
          <span class="p-g5-corporate"><%= location.corporate %></span>
        </p>
      <% end %>
    </ul>
  </div>
</div>
