<%= form_for @client, html: { role: "form" } do |f| %>
  <%= f.error_messages %>

  <%= render partial: 'client_fields', locals: {f: f} %>

  <div id="form-locations">
    <%= f.fields_for :locations, class: "new-location" do |location| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Location</h2>
        </div>
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="form-group col-md-12">
              <%= location.label :name do %>
                Name <span class="note">(Required)</span>
              <% end %>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group col-md-10">
              <%= location.text_field :name, class: "form-control", required: true %>
            </div>

            <div class="form-group col-md-2">
              <a href="#" class="toggle-location-fields btn btn-info">+ Edit All Fields</a>
            </div>
          </div>

          <div id="locations_container">
            <%= render partial: "primary_location_fields", locals: {location: location} %>
            <%= render partial: "apartment_location_fields", locals: {location: location} %>
            <%= render partial: "self_storage_location_fields", locals: {location: location} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="clearfix">
    <a href="#" id="add_another" class="btn btn-primary pull-left">+ Add Another Location</a>
    <%= f.submit class: "btn btn-success pull-right" %>
  </div>
<% end %>
