<%= form_for @client, html: { role: "form" } do |f| %>
  <%= f.error_messages %>
  
  <fieldset class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Client</h2>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.label :vertical %>
          <%= f.select :vertical, [['Select Vertical', ''], ['Self-Storage'], ['Apartments'], ['Assisted-Living']], {}, class: "form-control" %>
        </div>
      </div>
    </div>
  </fieldset>

  <div>
    <%= f.fields_for :locations do |location| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Location</h2>
        </div>
        <div class="panel-body">
          <div id="locations_container">
            <fieldset>
              <div class="form-group">
                <%= location.label :name %>
                <div class="input-group">
                  <%= location.text_field :name, class: "form-control" %>
                  <span class="input-group-btn">
                    <a href="#" class="btn btn-danger">X Remove Location</a>
                  </span>
                </div>
              </div>
              <div class="checkbox">
                <%= location.label :corporate do %>
                  Corporate
                  <%= location.check_box :corporate %>
                <% end %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="clearfix">
    <a href="#" id="add_another" class="btn btn-primary pull-left">+ Add Another Location</a>
    <%= f.submit class: "btn btn-success pull-right" %>
  </div>
<% end %>
