<%= form_for @client, html: { role: "form" } do |f| %>
  <%= f.error_messages %>

  <fieldset class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Client</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :name do %>
            Name <span class="note">(Required)</span>
            <% end %>
            <%= f.text_field :name, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= f.label :street_address_1 %>
            <%= f.text_field :street_address_1, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :street_address_2 %>
            <%= f.text_field :street_address_2, class: "form-control" %>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <%= f.label :city do %>
                City <span class="note">(Required)</span>
              <% end %>
              <%= f.text_field :city, class: "form-control", required: true %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :state do %>
                State <span class="note">(Required)</span>
              <% end %>
              <%= f.select :state, us_states, {prompt: "Select a State"}, class: "form-control", required: true %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :postal_code %>
              <%= f.text_field :postal_code, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :vertical do %>
              Vertical <span class="note">(Required)</span>
            <% end %>
            <%= f.select :vertical, Client::VERTICALS, {prompt: "Select Vertical"}, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= f.label :fax %>
            <%= f.text_field :fax, type: "tel", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, type: "email", class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <div>
    <%= f.fields_for :locations, class: "new-location" do |location| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Locations</h2>
        </div>
        <div class="panel-body">
          <div id="locations_container">
            <fieldset>
              <hr />
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= location.label :name %>
                    <%= location.text_field :name, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :domain %>
                    <%= location.text_field :domain, placeholder: "ex: http://www.yourdomainhere.com/", class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :street_address_1 %>
                    <%= location.text_field :street_address_1, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :street_address_2 %>
                    <%= location.text_field :street_address_2, class: "form-control" %>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-4">
                      <%= location.label :city %>
                      <%= location.text_field :city, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-4">
                      <%= location.label :state %>
                      <%= location.select :state, us_states, {prompt: "Select a State"}, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-4">
                      <%= location.label :postal_code %>
                      <%= location.text_field :postal_code, class: "form-control" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= location.label :fax %>
                    <%= location.text_field :fax, type: "tel", class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :email %>
                    <%= location.text_field :email, type: "email", class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :hours %>
                    <%= location.text_area :hours, rows: "5", class: "form-control" %>
                  </div>
                  <div class="form-group checkbox">
                    <%= location.label :corporate do %>
                      Corporate
                      <%= location.check_box :corporate %>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= location.label :twitter_username %>
                    <%= location.text_field :twitter_username, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :facebook_username %>
                    <%= location.text_field :facebook_username, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :yelp_username %>
                    <%= location.text_field :yelp_username, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :pinterest_username %>
                    <%= location.text_field :pinterest_username, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :foursquare_username %>
                    <%= location.text_field :foursquare_username, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :tumblr_username %>
                    <%= location.text_field :tumblr_username, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :instagram_username %>
                    <%= location.text_field :instagram_username, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :vimeo_username %>
                    <%= location.text_field :vimeo_username, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= location.label :youtube_username %>
                    <%= location.text_field :youtube_username, class: "form-control" %>
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn-link abs-br">X Remove Location</a>
            </fieldset>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="clearfix">
    <a href="#" id="add_another" class="btn btn-primary pull-left">+ Add Another Location</a>
    <%= f.submit class: "btn btn-success pull-right" %>
  </div>
<% end %>
