<%= form_for @client, html: { role: "form" } do |f| %>
  <%= f.error_messages %>

  <%= render partial: 'client_fields', locals: {f: f} %>

  <div>
    <%= f.fields_for :locations, class: "new-location" do |location| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Location</h2>
        </div>
        <div class="panel-body">
          <div id="locations_container">

            <%= render partial: "primary_location_fields", locals: {location: location} %>

            <% if @client.vertical == 'Apartments' %>
              <%= render partial: "apartment_location_fields", locals: {location: location} %>
            <% end %>

            <% if @client.vertical == 'Self-Storage' %>
              <%= render partial: "self_storage_location_fields", locals: {location: location} %>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="clearfix">
    <a href="#" id="add_another" class="btn btn-primary pull-left">+ Add Another Location</a>
    <%= f.submit class: "btn btn-success pull-right" %>
  </div>
<% end %>
