<dl class="h-entry">
  <dt>Name</dt>
  <dd>
    <span class="p-name"><%= client.name %></span>
  </dd>
  <dt>URN</dt>
  <dd>
    <span class="u-urn"><%= client.urn %></span>
  </dd>
  
  <dt>URL</dt>
  <dd>
    <a href="<%= clients_url %>" rel="bookmark" class="u-url">
      <%= clients_url %>
    </a>
  </dd>
  
  <dt>Bookmark/UID</dt>
  <dd>
    <a href="<%= client_url(client.urn) %>" rel="bookmark" class="u-uid">
      <%= client_url(client.urn) %>
    </a>
  </dd>
  <dt>Summary</dt>
  <dd>
    <span class="p-summary">Signed up with <%= client.locations.size %> locations</span>
  </dd>
  <dt>Published</dt>
  <dd>
    <time datetime="<%= client.created_at_computer_readable %>" class="dt-published">
      <%= client.created_at_human_readable %>
    </time>
  </dd>
  <dt>Category</dt>
  <dd>
    <a class="p-category" href="#" rel="tag">
      Some Category
    </a>
  </dd>
  <dt>Author</dt>
  <dd>
    <dl class="p-author h-card">
      <dt>UID</dt>
      <dd>
        <a class="u-url u-uid" href="<%= root_url %>">
          <%= root_url %>
        </a>
      </dd>
      <dt>Name</dt>
      <dd>
        <span class="p-name">g5-hub</span>
      </dd>
    </dl>
  </dd>
  <dt>Content</dt>
  <dd>
    <dl class="e-content">
      <dt>Client</dt>
      <dd>
        <%= render client %>
      </dd>
    </dl>
  </dd>
</dl>
