<dl class="h-card">
  <dt>UID</dt>
  <dd>
    <a class="u-url u-uid" href="<%= customer_url(customer) %>">
      <%= customer_url(customer) %>
    </a>
  </dd>
  <dt>Name</dt>
  <dd>
    <span class="p-name"><%= customer.name %></span>
  </dd>
  <dt>Actions</dt>
  <dd>
    <dl>
      <dt>All</dt>
      <dd>
        <%= link_to customers_url, customers_url %>
      </dd>
      <dt>Edit</dt>
      <dd>
        <%= link_to edit_customer_url(customer), edit_customer_url(customer) %>
      </dd>
      <dt>Destroy</dt>
      <dd>
        <%= link_to customer_url(customer), customer, :confirm => 'Are you sure?', :method => :delete %>
      </dd>
    </dl>
  </dd>
</dl>
