<div id="form-integration-settings">
  <%= f.fields_for :integration_setting, class: "new-integration-setting" do |integration_setting| %>
      <div id="form-job-setting">
        <%= integration_setting.fields_for :job_setting, class: "new-job-setting" do |job_setting| %>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">Job</h2>
              </div>
              <div class="panel-body">
                <div id="job-setting-container" class="job-setting-container client">
                  <fieldset>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <%= job_setting.label :frequency do %>
                              Frequency <span class="note">(Required)</span>
                          <% end %>
                          <div>
                            <%= job_setting.text_field :frequency, class: "form-control" %>
                            <%= job_setting.collection_select :frequency_unit_id, FrequencyUnit.all, :id, :name, {prompt: ''}, {class: 'form-control'} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Integration Setting</h2>
        </div>
        <div class="panel-body">
          <div id="integration_settings_container">
            <fieldset>
              <div class="form-group">
                <%= integration_setting.label :vendor_endpoint do %>
                    Vendor Endpoint <span class="note">(Required)</span>
                <% end %>
                <%= integration_setting.text_field :vendor_endpoint, class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <%= integration_setting.label :vendor_user_name do %>
                    Vendor User Name
                <% end %>
                <%= integration_setting.text_field :vendor_user_name, class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <%= integration_setting.label :vendor_password do %>
                    Vendor Password
                <% end %>
                <%= integration_setting.text_field :vendor_password, class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <%= integration_setting.label :strategy_name do %>
                    Strategy Name <span class="note">(Required)</span>
                <% end %>
                <%= integration_setting.text_field :strategy_name, class: "form-control", required: true %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div id="form-custom-integration-settings">
        <%= integration_setting.fields_for :custom_integration_settings, class: "new-custom-integration-setting" do |custom_integration_setting| %>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">Custom Integration Setting</h2>
              </div>
              <div class="panel-body">
                <div id="custom_integration_settings_container">
                  <fieldset>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <%= custom_integration_setting.label :name do %>
                              Name <span class="note">(Required)</span>
                          <% end %>
                          <%= custom_integration_setting.text_field :name, class: "form-control", required: true %>
                        </div>
                        <div class="form-group">
                          <%= custom_integration_setting.label :value do %>
                              Value <span class="note">(Required)</span>
                          <% end %>
                          <%= custom_integration_setting.text_field :value, class: "form-control", required: true %>
                        </div>
                        <div class="form-group">
                          <%= custom_integration_setting.label :destroy do %>
                              Delete this custom integration setting:
                          <% end %>
                          <%= custom_integration_setting.check_box :_destroy %>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
