<div id="form-integration-settings">
  <%= f.fields_for :integration_setting, class: "new-integration-setting" do |integration_setting| %>
      <div id="form-job-setting">
        <%= integration_setting.fields_for :job_setting, class: "edit-job-setting" do |job_setting| %>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">Job</h2>
              </div>
              <div class="panel-body">
                <div id="job-setting-container">
                  <div>Leave blank if no override needed. The client's existing values are in parenthesis.</div>
                  <fieldset>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <%= job_setting.label :frequency do %>
                              Frequency
                                  <span class="note">(<%= pluralize(overridee.job_setting.frequency, overridee.job_setting.frequency_unit.name) %>
                                    )</span>
                          <% end %>
                          <div>
                            <%= job_setting.text_field :frequency, class: "form-control" %>
                            <%= job_setting.collection_select :frequency_unit_id, FrequencyUnit.all, :id, :name, {prompt: ''}, {class: 'form-control'} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Integration Setting</h2>
        </div>
        <div class="panel-body">
          <div id="integration_settings_container">
            <div>Leave blank if no override needed. The client's existing values are in parenthesis.</div>
            <fieldset>
              <%= integration_setting.hidden_field :override, value: true %>

              <div class="form-group">
                <%= integration_setting.label :vendor_endpoint do %>
                    Vendor Endpoint <span class="note">(<%= overridee.vendor_endpoint %>)</span>
                <% end %>
                <%= integration_setting.text_field :vendor_endpoint, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= integration_setting.label :vendor_user_name do %>
                    Vendor User Name <span class="note">(<%= overridee.vendor_user_name %>)</span>
                <% end %>
                <%= integration_setting.text_field :vendor_user_name, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= integration_setting.label :vendor_password do %>
                    Vendor Password <span class="note">(<%= overridee.vendor_password %>)</span>
                <% end %>
                <%= integration_setting.text_field :vendor_password, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= integration_setting.label :strategy_name do %>
                    Strategy Name <span class="note">(<%= overridee.strategy_name %>)</span>
                <% end %>
                <%= integration_setting.text_field :strategy_name, class: "form-control" %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div id="form-custom-integration-settings">
        <%= integration_setting.fields_for :custom_integration_settings, class: "new-custom-integration-setting" do |custom_integration_setting| %>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">Custom Integration Setting</h2>
              </div>
              <div class="panel-body">
                <div id="custom_integration_settings_container">
                  <fieldset>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <%= custom_integration_setting.label :name do %>
                              Name <span class="note">(Required)</span>
                          <% end %>
                          <%= custom_integration_setting.text_field :name, class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <%= custom_integration_setting.label :value do %>
                              Value <span class="note">(Required)</span>
                          <% end %>
                          <%= custom_integration_setting.text_field :value, class: "form-control" %>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>