<% title 'Integrations' %>
<% header_right link_to('New Integration', new_clients_integration_setting_url, class: 'btn btn-success pull-right') %>

<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Client Name</th>
    <th>Integration</th>
    <th>Action</th>
    <th>Locations with Errors</th>
  </tr>
  </thead>
  <tbody>
  <% @clients_integration_settings.each do |client_integration_setting| %>
      <tr>
        <td><%= link_to('Show', clients_integration_setting_url(client_integration_setting)) %></td>
        <td><%= client_integration_setting.client.name %></td>
        <td><%= client_integration_setting.vendor.name %></td>
        <td><%= client_integration_setting.vendor_action %></td>
        <td class="job-errors">
          <% if client_integration_setting.inventory? %>
              <% error_count = client_integration_setting.job_stat_error_count || 0 %>
              <span title="<%= client_integration_setting.job_stat_error_messages %>" class="<%= error_count > 0 ? 'jobs-error' : 'jobs-success' %>">
            <%= error_count %>
                of
                <%= client_integration_setting.locations.count %>
          </span>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>