<% title "Location" %>

<section class="h-card">
  <h2>
    <%= link_to @location.name, client_location_url(@client, @location), class: "p-name u-uid u-url" %>
  </h2>
  <h4>Domain</h4>
  <p class="u-url"><%= @location.domain %></p>
  <h4>Address</h4>
  <p class="p-adr h-adr">
    <span class="p-street-address">
      <%= @location.street_address_1 %>
      <% if @location.street_address_2 %><%= @location.street_address_2 %><% end %>
    </span>
    <span>
      <span class="p-locality"><%= @location.city %></span>
      <span class="p-region"><%= @location.state %></span>
      <span class="p-postal-code"><%= @location.postal_code %></span>
    </span>
    <span class="p-tel p-fax"><%= @location.fax %></span>
    <span class="u-email"><%= @location.email %></span>
  </p>
  <h4>Hours:</h4>
  <pre class="p-hours"><%= @location.hours %></pre>
  <dl>
    <dt>Twitter Username</dt>
    <dd class="twitter_username"><%= @location.twitter_username %></dd>
    <dt>Facebook Username</dt>
    <dd class="facebook_username"><%= @location.facebook_username %></dd>
    <dt>Yelp Username</dt>
    <dd class="yelp_username"><%= @location.yelp_username %></dd>
    <dt>Pinterest Username</dt>
    <dd class="pinterest_username"><%= @location.pinterest_username %></dd>
    <dt>Foursquare Username</dt>
    <dd class="foursquare_username"><%= @location.foursquare_username %></dd>
    <dt>Tumblr Username</dt>
    <dd class="tumblr_username"><%= @location.tumblr_username %></dd>
    <dt>Instagram Username</dt>
    <dd class="instagram_username"><%= @location.instagram_username %></dd>
    <dt>Vimeo Username</dt>
    <dd class="vimeo_username"><%= @location.vimeo_username %></dd>
    <dt>YouTube Username</dt>
    <dd class="youtube_username"><%= @location.youtube_username %></dd>
  </dl>
  <h4>Client</h4>
  <p class="p-org h-card">
    <%= link_to @client.name, client_url(@client), class: "p-name, u-uid, u-url" %>
  </p>
</section>
