<% title "Location" %>

<section class="h-card">
  <h2>
    <%= link_to @location.name, client_location_url(@client, @location), class: "p-name u-uid u-url" %>
  </h2>
  <p class="p-adr h-adr">
    <span class="p-street-address">
      <%= @location.street_address_1 %>
      <% if @location.street_address_2 %><%= @location.street_address_2 %><% end %>
    </span>
    <span>
      <span class="p-locality"><%= @location.city %></span>
      <span class="p-region"><%= @location.state %></span> 
      <span class="p-postal-code"><%= @location.postal_code %></span>
    </span>
    <span class="p-tel p-fax"><%= @location.fax %></span>
    <span class="u-email"><%= @location.email %></span>
  </p>
  <p><strong>Hours:</strong></p>
  <pre class="p-hours"><%= @location.hours %></pre>
  <h4>Client</h4>
  <p class="p-org h-card">
    <%= link_to @client.name, client_url(@client), class: "p-name, u-uid, u-url" %>
  </p>
</section>
