<!DOCTYPE html>
<html>
  <head>
    <title>G5 Hub - <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>

    <header role="banner">
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "G5 Hub", root_path, class: "navbar-brand" %>
          </div>

          <!-- Everything you want hidden at 940px or less, place within here -->
          <nav id="main-nav-collapse" class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
              <%= content_tag :li, link_to("Entries", entries_path), class: active_if(:root) + active_if(:entries) %>
              <%= content_tag :li, link_to("Clients", clients_path), class: active_if(:clients) %>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="container">

      <% flash.each do |name, msg| %>
        <%= flash_div name %>
      <% end %>

      <div class="page-header clearfix">
        <%= content_tag :h1 do %>
          <%= yield(:title) if show_title? %>
          <%= content_tag :small, yield(:header_right) if show_header_right? %>
        <% end %>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
