<!DOCTYPE html>
<html>
  <head>
    <title>G5 Hub - <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <meta charset="utf8" />
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container-fluid">

      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <!-- Be sure to leave the brand out there if you want it shown -->
            <%= link_to "G5 Hub", root_path, class: "brand" %>

            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse">
              <ul class="nav">
                <%= content_tag :li, link_to("Entries", entries_path), class: active_if(:root) + active_if(:entries) %>
                <%= content_tag :li, link_to("Clients", clients_path), class: active_if(:clients) %>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <% flash.each do |name, msg| %>
        <%= flash_div name %>
      <% end %>

      <div class="row-fluid page-header">
        <%= content_tag :h1, yield(:title), class: "span10" if show_title? %>
        <%= content_tag :span, yield(:header_right), class: "span2" if show_header_right? %>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
